<h1>Log In to Stock Tracker</h1>

<% if flash[:message] %>
    <div>
        <%= flash[:message] %>
    </div>
<% end %>

<%= form_for(@user, url: session_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <br>
    <%= f.submit "Login" %>
<% end %>

<%= link_to "Login with Github", "/auth/github" %>