<h1>Log In to Stock Tracker</h1>

<% if @user.errors.any? %>
    <% @user.errors.each do |error| %>
        <div>
            <%= error.full_message %><br><br>
        </div>
    <% end %>
<% end %>

<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <br>
    <%= f.submit "Login" %>
<% end %>