<table class="table table-striped table-responsive-md">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="text-center">Symbol</th>
            <th scope="col" class="text-center">Sector</th>
            <th scope="col" class="text-center">Current Price</th>
            <th scope="col" class="text-center">Open Price</th>
            <th scope="col" class="text-center">Previous Close Price</th>
            <th scope="col" class="text-center">Percent Change</th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody>
    <% @watchlist.stocks.each do |stock| %>
        <tr>
            <td><%= stock.name %></td>
            <td class="text-center"><%= stock.symbol %></td>
            <td class="text-center"><%= stock.sector %></td>
            <% stock.iex_stock_info.each do |key, value| %>
                <% if key == :percent_change %>
                    <td class="text-center"><%= value %>%</td>
                <% else %>
                    <td class="text-center">$<%= value %></td>
                <% end %>
            <% end %>
            <td class="text-center"><%= link_to "Remove Stock", delete_stock_path(@watchlist, stock), method: :delete, data: {confirm: "Are you sure you want remove this stock?"} %></td>
        </tr>
    <% end %>
    </tbody>
</table>