<h1><%= @watchlist.title %></h1>

<%= render partial: "stock_add", locals: {stock_watchlist: @stock_watchlist, watchlist: @watchlist} %>

<table>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Sector</th>
    </tr>
    <% @watchlist.stocks.each do |stock| %>
        <tr>
            <td><%= stock.name %></td>
            <td><%= stock.symbol %></td>
            <td><%= stock.sector %></td>
        </tr>
    <% end %>
</table>

<%= link_to "Edit Watchlist", edit_user_watchlist_path(current_user, @watchlist) %>
<%= button_to "Delete Watchlist", user_watchlist_path(current_user, @watchlist), method: :delete %>
