<h1 class="text-center"><%= @watchlist.title %></h1>

<div class="d-flex">
    <div class="p-2">
        <%= button_to "Edit Watchlist", edit_user_watchlist_path(current_user, @watchlist), method: :get, class: "btn btn-primary" %>
    </div>
    <div class="p-2">
        <%= button_to "Delete Watchlist", user_watchlist_path(current_user, @watchlist), method: :delete, data: {confirm: "Are you sure you want to delete this watchlist? "}, class: "btn btn-primary" %>
    </div>
    <div class="ml-auto p-2">
        <%= render partial: "watchlists/stock_add", locals: {stock_watchlist: @stock_watchlist, watchlist: @watchlist} %>
    </div>
</div>

<%= render "static/flash" %>

<br>

<%= render "watchlists/table" %>

