<h1><%= @watchlist.title %></h1>
<%= link_to "Edit Watchlist", edit_user_watchlist_path(current_user, @watchlist) %>
<%= link_to "Delete Watchlist", user_watchlist_path(current_user, @watchlist), method: :delete, data: {confirm: "Are you sure you want to delete this watchlist? "} %>
<br>
<%= render partial: "stock_add", locals: {stock_watchlist: @stock_watchlist, watchlist: @watchlist} %>
<br>

<% if flash[:message] %>
    <div>
        <%= flash[:message] %>
    </div>
<% end %>

<br>
<table>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Sector</th>
        <th>Current Price</th>
        <th>Open Price</th>
        <th>Previous Close Price</th>
        <th>Percent Change</th>
    </tr>
    <% @watchlist.stocks.each do |stock| %>
        <tr>
            <td><%= stock.name %></td>
            <td><%= stock.symbol %></td>
            <td><%= stock.sector %></td>
            <% stock.stock_info.each do |key, value| %>
                <% if value == nil %>
                    <td><%= "N/A" %></td>
                <% else %>
                    <td><%= value %></td>
                <% end %>
            <% end %>
            <td><%= link_to "Remove Stock", delete_stock_path(@watchlist, stock), method: :delete, data: {confirm: "Are you sure you want remove this stock?"} %>
        </tr>
    <% end %>
</table>

