<h1 class="text-center"><%= @user.first_name %>'s Portfolios</h1>

<br>

<div class="container">
    <div class="card-columns mb-3 text-center">
        <% @portfolios.each do |portfolio| %>
            <div class="card mb-4 box-shadow">
                <div class="class-header">
                    <h4 class="my-0 font-weight-normal"><%=portfolio.title %></h4>
                </div>
                <div class="class-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Number of Stocks: <%= portfolio.stocks.size %></li>
                    </ul>
                    <%= button_to "View", user_portfolio_path(@user, portfolio), method: :get, class: "btn btn-lg btn-block btn-outline-primary" %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<br>
<div class="d-flex justify-content-center">
    <%= button_to "Add a New Portfolio", new_user_portfolio_path(@user), method: :get, class: "btn btn-primary" %>
</div>