<h1><%= @portfolio.title %></h1>
<h3><%= @portfolio.portfolio_type %> Account</h3>

<table>
    <tr>
        <th>Stock</th>
        <th>Quantity</th>
        <th>Total Cost</th>
        <th>Cost Per Unit</th>
        <th>Current Price</th>
    </tr>
    <% @portfolio.stock_purchases.each do |stock_purchase| %>
        <tr>
            <td><%= stock_purchase.stock.name %></td>
            <td><%= stock_purchase.amount %></td>
            <td><%= stock_purchase.amount * stock_purchase.cost %>
            <td><%= stock_purchase.cost %></td>
            <td><%= stock_purchase.stock.stock_info[:price] %>
            <td><%= link_to "Remove Purchase", stock_purchase_path(@portfolio, stock_purchase), method: :delete, data: {confirm: "Are you sure you want remove this purchase?"} %>
        </tr>
    <% end %>
</table>

<br><br>
<%= link_to "Add Stock", new_stock_purchase_path(@portfolio) %>
<%= link_to "Edit Portfolio", edit_user_portfolio_path(current_user, @portfolio) %>
<%= link_to "Delete Portfolio", user_portfolio_path(current_user, @portfolio), method: :delete, data: {confirm: "Are you sure you want to delete this portfolio? "} %>