<h1>S&P 500 Stock List</h1>

<%= form_tag(stocks_path, method: :get) do %>
    <%= label_tag("Search For a Stock: ")%>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
<% end %>

<table>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Sector</th>
    </tr>
    <% @stocks.each do |stock| %>
        <tr>
            <td><%= stock.name %></td>
            <td><%= stock.symbol %></td>
            <td><%= stock.sector %></td>
        </tr>
    <% end %>
</table>