<h1 class="text-center">S&P 500 Stock List</h1>

<div class="d-flex">
    <div class="p-2">
        <%= button_to "View by Sector", stocks_sector_path, class: "btn btn-primary" %>
    </div>
    <div class="ml-auto p-2">
        <%= form_tag(stocks_path, method: :get, class: "form-inline") do %>
            <div class="mr-sm-2">
                <%= label_tag "search", "Search for a Stock", class: "sr-only" %>
                <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "Search for a Stock") %>
            </div>
            <%= submit_tag "Search", class: "btn btn-primary my-2 my-sm-0" %>
        <% end %>
    </div>
</div>

<br>

<%= render "stocks/table" %>