<h1><%= @stock.name %></h1>
<h3>Symbol: <%= @stock.symbol %></h3>
<h3>Sector: <%= @stock.sector %></h3>

<p>Current Price: <%= @stock.iex_stock_info[:price] %></p>
<p>Today's Open: <%= @stock.iex_stock_info[:open] %></p> </p>
<p>Yesterday's Close: <%= @stock.iex_stock_info[:close] %></p> </p>
<p>Percent Change: <%= @stock.iex_stock_info[:percent_change] %></p>
