<h1><%= @stock.name %></h1>
<h3>Symbol: <%= @stock.symbol %></h3>
<h3>Sector: <%= @stock.sector %></h3>

<% @stock.stock_info %>
<% begin %>
    <p>Current Price: <%= @stock.stock_price %></p>
    <p>Today's Open: <%= @stock.stock_open %></p> </p>
    <p>Yesterday's Close: <%= @stock.stock_close %></p> </p>
    <p>Percent Change: <%= @stock.stock_percent_change %></p>
<% rescue NoMethodError %>
    <h2>Too Many Requests, please try again in 1 minute</h2>
<% end %>