<div class="d-flex justify-content-center">
    <%= form_for user do |f| %>
        <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: "form-control pr-5" %><br>
        </div>
        <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: "form-control pr-5" %><br>
        </div>
        <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control pr-5" %><br>
        </div>

        <%= f.hidden_field :password, value: @user.password %>
        <%= f.hidden_field :username, value: @user.username %>

        <br>

        <div class="d-flex justify-content-center">
            <%= f.submit "Update", class: "btn btn-header-color" %>
        </div>
    <% end %>
</div>