<h1 class="text-center"><%= @user.username %>'s Profile Page</h1>

<ul class="list-group my-3 mx-7">
    <li class="list-group-item">First Name: <span class="alignright"><%= @user.first_name %></span></li>
    <li class="list-group-item">Last Name: <span class="alignright"><%= @user.last_name %></span></li>
    <li class="list-group-item">Email: <span class="alignright"><%= @user.email %></span></li>

    <li class="list-group-item d-flex justify-content-between align-items-center">Number of Portfolios: <span class="badge badge-primary badge-pill">14</span></li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Number of Watchlists: <span class="badge badge-primary badge-pill">14</span></li>
</ul>


<div class="d-flex flex-column">
    <div class="d-flex justify-content-center my-2"><%= button_to "Edit Profile", edit_user_path(@user), method: :get, class: "btn btn-header-color" %></div>
    <div class="d-flex justify-content-center my-2"><%= button_to "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete your account? "}, class: "btn btn-header-color" %></div>
</div>