<h1><%= @user.username %> Profile Page</h1>

<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>

<p>Number of Portfolios: </p>
<p>Number of Watchlists: </p>



<p><%= link_to "Edit Profile", edit_user_path(@user), data: {confirm: "Are you sure?" } %>
<p><%= button_to "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete your account? "} %>