<h1 class="text-center">Welcome <%= @user.first_name %></h1>

<div class="container">
    <div class="row">
        <p><%= link_to "Your Portfolios", user_portfolios_path(@user), class: "col" %></p>
        <p><%= link_to "Your Watchlists", user_watchlists_path(@user), class: "col" %></p>
    </div>
</div>

<p><%= link_to "Add a New Portfolio", new_user_portfolio_path(@user) %></p>
<p><%= link_to "Add a New Watchlist", new_user_watchlist_path(@user) %></p>

<p>Current Value of All Your Investments: </p>