<h1 class="text-center">Welcome <%= @user.first_name %></h1>

<div class="card-deck m-5">
    <div class="card">
        <img class="card-img-top" src="#" alt="">
        <div class="card-body">
            <h5 class="card-title">My Portfolios</h5>
            <p class="card-text">Number of Portfolios: <%= @user.portfolio_count %></p>
            <%= button_to "View", user_portfolios_path(@user), method: :get, class: "btn btn-header-color" %>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="#" alt="">
        <div class="card-body">
            <h5 class="card-title">My Watchlists</h5>
            <p class="card-text">Number of Watchlists: <%= @user.watchlist_count %></p>
            <%= button_to "View", user_watchlists_path(@user), method: :get, class: "btn btn-header-color" %>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
    </div>
</div>

<p class="text-center">Current Value of All Your Investments: Not Supported Yet, Coming Soon!</p>