<!DOCTYPE html>
<html>
  <head>
    <title>StockTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
      <ul>
        <li><%= link_to "Home", user_path(current_user) %></li>
        <li><%= link_to "Stocks", stocks_path %></li>
        <li><%= link_to "Portfolios", user_portfolios_path(current_user) %></li>
        <li><%= link_to "Watchlists", user_watchlists_path(current_user) %></li>
        <li><%= link_to "Profile", user_profile_path(current_user) %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
      </ul>
      <% else %>
      <ul>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
      </ul>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
