<!DOCTYPE html>
<html>
  <head>
    <title>StockTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
      <% if logged_in? %>
        <%= link_to "Stock Trader", user_path(current_user), class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class='nav-item'><%= link_to "Home", user_path(current_user), class: "nav-link" %></li>
            <li class='nav-item'><%= link_to "Stocks", stocks_path, class: "nav-link" %></li>
            <li class='nav-item'><%= link_to "Portfolios", user_portfolios_path(current_user), class: "nav-link" %></li>
            <li class='nav-item'><%= link_to "Watchlists", user_watchlists_path(current_user), class: "nav-link" %></li>
            <li class='nav-item'><%= link_to "Most Purchases", mostpurchases_path, class: "nav-link" %></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class='nav-item'><%= link_to "Profile", user_profile_path(current_user), class: "nav-link" %></li>
            <li class='nav-item'><%= link_to "Log Out", logout_path, method: :delete, class: "nav-link" %></li>
          </ul>
        </div>
      <% else %>
        <div class="navbar-nav-scroll">
          <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class='nav-item active'><%= link_to "Home", root_path, class: "nav-link" %></li>
            <li class='nav-item active'><%= link_to "Sign Up", signup_path, class: "nav-link"  %></li>
            <li class='nav-item active'><%= link_to "Login", login_path, class: "nav-link"  %></li>
          </ul>
        </div>
      <% end %>
    </nav>

    <%= yield %>

    <footer class="footer fixed-bottom bg-primary">
      <div class="container text-center">
        <span class="text-white"><%= fa_icon "copyright" %> 2021 MIT Licensed</span>
        <p class="text-white"><%= link_to "Stock Tracker", "https://github.com/kdshah6593/Stock-Tracker", class: "text-white" %> - by Kunal Shah</p>
      </div>
    </footer>
  </body>
</html>
